
<body>
    <div id="disp">
        <div>
            <div class="field">
                <h1 class ='feeldesc'> Tell us how you are feeling !</h1>
                <div class="control">
                <label class="radio">
                    <image class = 'emoji' src ="./Assets/veryhappy.png.png"> Ecstatic</image>
                    <input type="radio" name="question">
                </label>
                <label class="radio">
                    <image class = 'emoji' src ="./Assets/happy.png.png"> Happy</image>
                    <input type="radio" name="question">
                </label>
                <label class="radio">
                    <image class = 'emoji' src ="./Assets/neutral.png"> Neutral</image>
                    <input type="radio" name="question">
                
                </label>
                <label class="radio">
                    <image class = 'emoji' src ="./Assets/sad.png.png">Sad</image>
                    <input type="radio" name="question">
                </label>
                </div>

            </div>
            
            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                <textarea class="textarea" placeholder="Tell us how your day went!"></textarea>
                </div>
            </div>


            
            <div class="field is-grouped">
                <div class="control">
                <button class="button is-link">Submit</button>
                </div>

            </div>
        
    </div>
    <div id = 'disp' class = 'activities'>
        <h1 class ='feeldesc'> Tell us what activities you've been up to! </h1>
        <label class="checkbox">
            <image class = 'emoji' src="./Assets/exercise.png">
            <input type="checkbox">
        </label>
        <label class="checkbox">
            <image class ='emoji' src ="./Assets/book.png"></image>
            <input type="checkbox">
            
        </label>
    </div>
</body>